<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="tab">
  <% @categories.each do  |category|%>
  <button class="tablinks" id="tab_<%= category.id %>"><%= category.title %></button>
  <% end %>
</div>
<% @categories.each do  |category|%>
  <div class="tabcontent div<%= category.id %>" id="<%= category.id %>">
  <% category.tasks.each do |task|  %>
      <p><%= task.title  %>
      <% unless task.deadline.nil? %>
        , to read: <%= task.deadline.strftime('%D') %>
      <% end %></p>
  <% end %>
  </div>

<% end %>

<div class="slideshow-container">
    <% @tasks.each do |task| %>
      <div class="mySlides fade">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<div style="text-align:center">
<% x = 0 %>
<% @tasks.each do |task| %>
  <% unless task.image.nil? %>
    <% x += 1 %>

    <span class="dot" onclick='currentSlide(<%= x %>)'></span>
    <% end %>
<% end %>
</div>




<script>
$(document).ready(function(){
  <% @categories.each do  |category|%>
    $(".div<%= category.id %>").hide();
  <%  end %>

    $("button").click(function(){
      <% @categories.each do  |category|%>
        $(".div<%= category.id %>").hide();
      <%  end %>
      var getID = this.id.split("_");
      $(".div"+getID[1]).show(500);
    });
});
</script>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
</script>
